* {
    margin: 0;
    padding: 0;
  }
  /* header */
  /* navbar */
  nav {
    position: fixed;
    width: 100%;
    height: 105px;
    background-color: white;
  }
  
  .nav-container {
    width: 95%;
    height: 105px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navigations {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 105px;
    
  }
  
  .navigations button:nth-child(2) {
    color: rgb(116, 129, 246);
  }
  
  .navigations button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: Bold;
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
    background: none;
    border: 0;
  }
  
  .extraBtns {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 105px;
    width: 250px;
  }
  
  .register {
    cursor: pointer;
  }

  .registerBTN{
    background: none;
    border: none;

  }
  
  .cart {
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border: 2px rgba(180, 180, 180, 1) solid;
    width: 39px;
    height: 39px;
    border-radius: 5px;
  }
  
  .cart img {
    width: 10px;
    height: 10px;
  }
  
  .search {
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border: 2px rgba(180, 180, 180, 1) solid;
    width: 39px;
    height: 39px;
    border-radius: 5px;
  }
  
  .search img {
    width: 10px;
    height: 10px;
  }
  /* navbar */
  .banners {
    width: 100%;
    height: 480px;
    background-image: url(../img/kitentry1.jpg);
    background-position-y: 600px;
    background-size: 100%;
  }
  
  .banners h1 {
    font-size: 35px;
    color: white;
    font-family: montserrat;
    text-transform: uppercase;
    margin: 40px auto;
  }
  
  .banners h2 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: white;
    font-family: montserrat;
  }
  
  .dark {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.416);
  }
  
  .btn-box {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .btn-banner:hover {
    background-color: white;
    color: black;
  }
  
  .btn-banner {
    cursor: pointer;
    color: white;
    font-family: montserrat;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    width: 100px;
    height: 50px;
    background: none;
    margin: 20px auto;
    transition: 0.5s;
  }
  
  /* header */
  
  /* products */
  .products h1 {
    margin-top: 42px;
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
    margin-top: -80px;
    margin-left: 100px;
  }
  
  .products-container {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    margin-left: 100px;
  }
  
  .cards {
    margin-top: 72px;
  }
  
  .cards-line-1 {
    display: flex;
    justify-content: space-between;
  }
  
  .cards-line-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
  }
  
  .card {
    border-radius: 10px;
    width: 226px;
    height: 325px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
  }
  
  .card-img {
    background-image: url(../img/image.png);
    width: 226px;
    height: 160px;
    border-radius: 5px;
  }
  
  .line-card {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0 auto;
    padding-top: 8px;
  }
  
  .like {
    background-color: rgba(243, 242, 241, 1);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 4px 4px 0px 4px;
  }
  
  .discount {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    width: 30px;
    height: 30px;
    font-family: Montserrat;
    font-size: 11px;
    border-radius: 50px;
    background-color: rgba(215, 42, 72, 1);
  }
  
  .card-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 206px;
    height: 145px;
    margin: 0 auto;
    padding-top: 8px;
  }
  
  .cost {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
  }
  
  .categorie {
    font-family: Montserrat;
    font-size: 12px;
  }
  
  .stars {
    display: flex;
  }
  
  .star {
    background-image: url(../img/logotypes/Star\ 1.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
  
  .btn {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    width: 210px;
    height: 40px;
    background-color: rgba(255, 102, 51, 1);
    border: none;
    border-radius: 5px;
  }
  /* products */
  /* footer */
  footer {
    font-family: Montserrat;
    font-size: 10px;
    margin-top: 1400px;
  }
  
  .footer-container {
    width: 95%;
    margin: 0 auto;
  }
  
  .foote {
    font-family: Montserrat;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    margin-left: 40px;
    margin-top:1100px;
    
  }
  .foot-bottom {
    width: 95%;
    margin-top: 100px;
    height: 200px;
  }
  
  .foot-bottom h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    margin-right: 100px;
  }
  
  .user {
    width: 60px;
    height: 60px;
    margin-top: -5px;
  }
  
  .truck {
    height: 20px;
  }
  
  .text h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .text p {
    font-size: 14px;
  }
  
  hr {
    margin-right: 500PX;
    
  }
  
  .text1 {
    margin-left: 80px;
    margin-top: 20px;
  }
  
  .text1 h3 {
    margin-top: 20px;
    cursor: pointer;
  }
  
  .text2 {
    margin-left: 420px;
    margin-top: -117px;
  }
  
  .text2 h3 {
    margin-top: 12px;
    cursor: pointer;
  }
  
  .text3 {
    margin-left: 740px;
    margin-top: -170px;
  }
  
  .text3 h3 {
    margin-top: 15px;
    cursor: pointer;
  }
  
  h3:hover {
    color: rgb(148, 128, 128);
  }
  
  .block-orange {
    width: 100%;
    height: 100px;
    background-color: #ff6633;
    margin-top: 50px;
  }
  
  .block-orange h2 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
  }
  /* footer */
  